<div class="pizza-size section">
  <label *ngFor="let size of sizes; let i = index;"
       class="pizza-size__item"
       [class.pizza-size__item--active]="value === size"
       [class.pizza-size__item--focused]="focused === size">
    <input type="radio"
           name="size"
           [attr.value]="size"
           (blur)="onBlur(size)"
           (change)="onChange(size)"
           (focus)="onFocus(size)"
           [checked]="value === size" />

    <div class="pizza-size__plate">
      <div class="pizza-size__pizza pizza-size__pizza--{{ size }}">
        <div class="pizza-size__pizza__line"></div>
        <div class="pizza-size__pizza__line"></div>
        <div class="pizza-size__pizza__line"></div>
        <div class="pizza-size__pizza__line"></div>
      </div>
    </div>
    {{ capitalise(size) }} ({{ inches[i] }}")
  </label>
</div>
