<div class="app">
  <div class="form">
    <pizza-viewer [pizzas]="form.get('pizzas')"
                  [activePizza]="activePizza"></pizza-viewer>

    <div class="order">
      <form novalidate [formGroup]="form">
        <h2>Enter your details</h2>
        <div class="section" formGroupName="details">
          <div class="input">
            <label>
              Name <span class="required">*</span>
              <span *ngIf="form.get('details').get('name').errors && form.get('details').get('name').touched"
                    class="error">
                Field is required
              </span>
            </label>
            <input formControlName="name" type="text" placeholder="John Smith">
          </div>
          <div class="input">
            <label>
              Email <span class="required">*</span>
              <span *ngIf="form.get('details').get('email').errors && form.get('details').get('email').touched"
                    class="error">
                Field is required
              </span>
            </label>
            <input formControlName="email" type="email" placeholder="john@hungry.me">
          </div>
          <div class="input">
            <label>
              Confirm email <span class="required">*</span>
              <span *ngIf="form.get('details').get('confirm').errors && form.get('details').get('confirm').touched"
                    class="error">
                <span *ngIf="form.get('details').get('confirm').hasError('required')">
                  Field is required
                </span>
              </span>
              <span class="error" *ngIf="!form.get('details').get('confirm').hasError('required') && form.get('details').touched && form.get('details').hasError('nomatch')">
                Emails must match
              </span>
            </label>
            <input formControlName="confirm" type="email" placeholder="Confirm email">
          </div>
        </div>
        <div class="section" formGroupName="details">
          <div class="input">
            <label>
              Address <span class="required">*</span>
              <span *ngIf="form.get('details').get('address').errors && form.get('details').get('address').touched"
                    class="error">
                <span *ngIf="form.get('details').get('address').hasError('required')">
                  Field is required
                </span>
                <span *ngIf="form.get('details').get('address').hasError('minlength')">
                  Min of 3 characters
                </span>
              </span>
            </label>
            <input formControlName="address" type="text" placeholder="44 Pizza Street">
          </div>
          <div class="input">
            <label>
              Post Code <span class="required">*</span>
              <span *ngIf="form.get('details').get('postcode').errors && form.get('details').get('postcode').touched"
                    class="error">
                <span *ngIf="form.get('details').get('postcode').hasError('required')">
                  Field is required
                </span>
                <span *ngIf="form.get('details').get('postcode').hasError('minlength')">
                  Min of 3 characters
                </span>
              </span>
            </label>
            <input formControlName="postcode" type="text" placeholder="PI3 3AS">
          </div>
          <div class="input">
            <label>
              Contact Number <span class="required">*</span>
              <span *ngIf="form.get('details').get('phone').errors && form.get('details').get('phone').touched"
                    class="error">
                Field is required
              </span>
            </label>
            <input formControlName="phone" type="text" placeholder="01234 567 890">
          </div>
        </div>
        <pizza-creator 
          formArrayName="pizzas"
          [pizzas]="form.get('pizzas')"
          (toggle)="updateActivePizza($event)">
        </pizza-creator>

        <h2>Order Summary</h2>

        <summary [order]="form"></summary>
      </form>
    </div>
  </div>
</div>
