<div class="pizza-toppings">
  <label
    *ngFor="let topping of toppings"
    class="pizza-topping"
    [class.pizza-topping--active]="value.includes(topping)"
    [class.pizza-topping--focused]="focused === topping"
  >
    <input
      type="checkbox"
      [attr.name]="topping"
      [attr.value]="topping"
      (blur)="onBlur(topping)"
      (change)="updateTopping(topping)"
      (focus)="onFocus(topping)"
      [checked]="value.includes(topping)"
    />
    <span class="pizza-topping__icon pizza-topping__icon--{{ topping }}"></span>
    {{ topping | titlecase }}
  </label>
</div>
